@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  <img src="https://resource-recycling.com/e-scrap/wp-content/uploads/sites/2/2020/04/laptops-in-store-20200429-By-ECLIPSE-PRODUCTION-shutterstock_1445581070-web.jpg"
       style="width:800px;">
    </img>
</div>
